.features-wrapper {
  padding: 0 166px;

  .features-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    align-items: flex-start;

    @media (max-width: 1065px) {
        flex-direction: column;
        align-items: center;
    }

    .features-section-1 {
        flex: 1;
        color: #ffffff;

        .text-content {
            margin: auto 0;
            min-width: 400px;

            .features-title {
                font-family: Spartan;
                font-size: 32px;
                font-weight: 700;
                line-height: 48px;
                letter-spacing: -0.02em;
                text-align: left;
                margin-bottom: 30px;
              }
        
              .features-text {
                font-family: Spartan;
                font-size: 14px;
                font-weight: 400;
                line-height: 28px;
                text-align: left;
              }
        }

      
    }

    .features-section-2 {
        flex: 1;

        img {
            max-width: 500px;
            min-width: 300px;
            width: 100%;
            height: auto;
        }
    }
  }
}
